{
  "branches": [
    "main",
    { "name": "dev", "prerelease": true }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "DC_BanList.user.js",
            "label": "DC_BanList.user.js"
          },
          {
            "path": "DC_BanList.meta.js",
            "label": "DC_BanList.meta.js"
          }
        ]
      }
    ]
  ]
}
